<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"
        ></script>
        <title>{{title}}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-xl">
                <img class="header__img" src="/img/logo-inicio.png" alt="logo" />
                <a class="navbar-brand" href="#">Instituto de Implantología: Base de Datos</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/professors">Equipo Docente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/alumns">Área de Estudiantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/courses">Cursos</a>
                        </li>
                        {{#if user}}{{else}}
                            <li class="nav-item">
                                <a class="nav-link" href="/auth/register">Registro</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/auth/login">Log-in</a>
                            </li>
                        {{/if}}

                    </ul>
                    <form class="header__links" action="/auth/logout" method="POST">
                        <button class="header__links" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </nav>

        <main class="container-xl">
            <div class="row">
                <div class="col-6 mx-auto">
                    <div class="card my-4">
                        <div class="card-header">
                            <h1 class="text-center">Área de registro nuevos Cursos:</h1>
                        </div>
                        <div class="card-body">
                            <form action="/courses/createcourses" method="POST" enctype="multipart/form-data">
                                <div class="create-fields">
                                    <label class="form-label"> Imagen:</label>
                                    <input class="form-control" type="file" name="image" required />
                                </div>
                                <div class="create-fields">
                                    <label class="form-label">Título del Curso:</label>
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="title"
                                        placeholder="Titulación del curso..."
                                        required
                                    />
                                </div>
                                <div class="create-fields">
                                    <label class="form-label">Duración del Curso:</label>
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="duration"
                                        placeholder="Duración en meses del curso.."
                                        
                                    />
                                </div>
                                <div class="create-fields">
                                    <label class="form-label">Profesores:</label>
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="professors"
                                        placeholder="P  rofesores que dictan el curso.."
                                        
                                    />
                                </div>
                                <div class="create-fields">
                                    <label class="form-label">Próximas Fechas:</label>
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="nextDates"
                                        placeholder="Introduce las próximas fechas del curso... separadas por comas(,)"
                                        required
                                    />
                                </div>
                                <div class="create-fields">
                                    <label class="form-label">Ubicación:</label>
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="location"
                                        placeholder="Introduce la locación del curso..."
                                        required
                                    />
                                </div>
                                <div class="d-flex justify-content-center my-4">
                                    <button class="btn btn-secondary" type="submit">Crear Curso</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </main>

    </body>
</html>